header{
    font-family: Helvetica, sans-serif;
}

body{
    font-family: Arial, sans-serif;
}

/* styling header */
.sony_bar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.sony_logo{
    height: 20px;
}

.navbar.navbar-expand-lg.navbar-light{
    justify-content: space-between;
}

.btn{
    border-radius: 20px;
    color: white;
}
.header_button{
    background-color: grey;
}

.lens_image{
    width: 30px;
    margin: 5px 20px;
}

@media all and (max-width: 991px){
    .right_bar{
        display: none;
    }
    .left_bar{
        width: 100%;
        justify-content: space-between;
    }
}

/* styling jumbotron */
.jumbotron_image_container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/jumbo-bg.png');
}
.returnal_image{
    width: 200px;
}
.jumbo_title{
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    color:white;
}
.jumbo_text{
    font-size: 20px;
    margin: 40px 0 30px 0;
    color: white;
}
.jumbo_p{
    margin-top: 400px;
}
.container_edit{
    width: 90%;
    margin: 0 auto;
}
.jumbo_button{
    background-color: rgb(205, 61, 15);
    margin-bottom: 60px;
}

/* styling new games section */
.game_image{
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

/* styling playstation5 section */
.main_p .slogan{
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    color: rgb(0, 114, 206)
}

.main_p .title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main_p .subtitle{
    text-align: center;
    font-size: 25px;
    color: grey;
}

.row.playstation{
    align-items: center;
}

.left_p .title{
    font-size: 50px;
    font-weight: bold;
    margin-top: 70px;
}

.left_p .subtitle{
    margin-top: 40px;
    font-size: 25px;
    color: grey;
}

.playstation_button{
    margin-top: 40px;
    background-color: rgb(45, 100, 230);
}

.playstation-image{
    width: 100%;
}

.row.peripherals{
    margin: 40px 0;
    justify-content: space-between;
}

.peripherals_img_container{
    text-align: center;
}

.peripherals_img{
    width: 100%;
}

.ps5{
    border-bottom: 2px solid rgb(45, 100, 230);
}

@media all and (max-width: 768px){
    .row.peripherals{
        justify-content: flex-start;
    }
    .peripherals_text{
        display: none;
    }
}

/* styling it takes two section */
.ittakestwo_image_container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

.ittakestwo_logo{
    margin-top: 40px;
    width: 300px;
}

.ittakestwo_title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    color:white;
}

.ittakestwo_text{
    margin: 40px 0 30px 0;
    color: white;
}

.ittakestwo_button{
    background-color: rgb(205, 61, 15);
    margin-bottom: 40px;
}

/* styling section new release */
.new_release{
    background-color: rgb(31, 31, 31);
}
.new_release_title{
    font-size: 30px;
    padding: 20px 0;
    color: white;
}
.new_release_subtitle{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.new_release_img{
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
}
.img_title{
    margin-top: 10px;
    color: white;
}

/* styling playstation4 section */
.esploraps4 .title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 60px 0 20px 0;
}

.reg{
    font-size: 20px;
}

.esploraps4 .subtitle_1{
    text-align: center;
    font-size: 20px;
    color: grey;
}

.esploraps4 .subtitle_2{
    text-align: center;
    font-size: 20px;
    color: grey;
}

.ps4_img{
    margin-top: 50px;
    width: 100%;
}

.image_title{
    font-size: 35px;
    font-weight: bold;
}

.image_subtitle{
    font-size: 20px;
    color: grey;
}

.playstation4_button{
    margin-top: 20px;
    background-color: rgb(45, 100, 230);
}

/* playstation plus section */
.grey{
    margin-top: 50px;
    background-color: rgb(190, 188, 187);
}

.ps_plus{
    align-items: center;
}

.ps_plus_image{
    margin: 50px 0;
    width: 60%;
}

.ps_plus_text{
    font-size: 20px;
}

.ps_plus_button{
    margin: 50px 0 30px 0;
    color: rgb(45, 100, 230);
    background-color: lightgray;
}

.ps_plus_game_image{
    width: 100%;
}

@media all and (max-width: 998px){
    .ps_plus_game_container{
        display: none;
    }
}

/* playstation store section */
.playstation_store_title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 60px 0 20px 0;
}

.playstation_store_subtitle{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    color: grey;
}

.playstation_store_img{
    margin-top: 20px;
    width: 100%;
}

.margin{
    margin: 0 auto;
}

.ps_now{
    align-items: center;
}

.blue{
    margin-top: 50px;
    background-color: rgb(22, 28, 59);
}

.ps_now_logo{
    margin: 50px 0;
    width: 60%;
}

.ps_now_game_image{
    width: 100%;
}

.ps_now_text{
    font-size: 20px;
    color: white;
}

/* styling social media section */
.social_media{
    margin-bottom: 60px;
}

.social_title{
    font-size: 40px;
    text-align: center;
    margin: 60px 0;
}

.social_img{
    margin-top: 20px;
    width: 100%;
}